<div class="page">

  <div class="dictionary">
    <div class="header">{{ 'SECTIONS.DICTIONARY.TITLE' | translate}}</div>
    <div class="main-dictionary" id="scroll">
      <div class="word"
           (click)="onWordSelected(word)"
           *ngFor="let word of dictionary">{{word.term[defaultLanguage]}}
      </div>
    </div>

  </div>

  <div class="description">
    <div class="header">
      <span>{{ 'SECTIONS.DESCRIPTION.TITLE' | translate}}</span>
      <div class="language-switcher">
        <div class="language"
             (click)="onLangulageChanged(lan)"
             [class.selected]="lan.state"
             *ngFor="let lan of languages"
             [ngClass]="lan.value">{{lan.title}}
        </div>
      </div>
    </div>

    <div class="main-description">{{selectedWord?.definition[defaultWordLanguage]}}</div>

  </div>
</div>
