<div class="page">

  <div class="dictionary">

    <div class="header">
      <div class="text noselect">{{ 'SECTIONS.DICTIONARY.TITLE' | translate}}</div>

      <div class="search ">
        <input [class.show]="showSearchInput" #searchData type="search" (keyup)="0"
               (focus)="selectedWord.selected = false; selectedWord = null" placeholder="Qidirish"/>
        <div class="btn noselect">
          <img *ngIf="!showSearchInput" (click)="showSearchInput = !showSearchInput"
               src="../../../assets/images/search.svg" alt="">
        </div>
        <div class="btn noselect">
          <img *ngIf="showSearchInput" (click)="showSearchInput = !showSearchInput; searchData.value = ''"
               src="../../../assets/images/close.svg" alt="">
        </div>
      </div>

    </div>

    <div class="main-dictionary" id="scroll">
      <div class="group" *ngFor="let word of dictionary | search:searchData.value">
        <div class="groper" *ngIf="isPrintedGroup(word)">{{word.group[defaultLanguage]}}</div>
        <div class="word" [class.selected]="word.selected" (click)="this.loading = true;onWordSelected(word)">
          {{word.term[defaultLanguage]}}
        </div>
      </div>
    </div>

  </div>

  <div class="description">
    <div class="header">
      <span class="noselect">{{ 'SECTIONS.DESCRIPTION.TITLE' | translate}}</span>
    </div>

    <div class="main-description">
      <div *ngIf="!selectedWord" class="message noselect">
        {{'SECTIONS.DESCRIPTION.MESSAGE' | translate}}
      </div>

      <div *ngIf="!loading && selectedWord" class="content-description">
        <div class="ru">
          <div class="langage-header">{{defaultLanguage === 'uz'? 'UZB' : 'RUS'}}</div>
          <div class="text" id="scroll">{{selectedWord?.definition[defaultLanguage]}}</div>
        </div>

        <div class="uz">
          <div class="langage-header">{{defaultLanguage === 'ru'? 'UZB' : 'RUS'}}</div>
          <div class="text" id="scroll">{{selectedWord?.definition[defaultLanguage === 'uz'? 'ru': 'uz']}}</div>
        </div>
      </div>

      <div *ngIf="loading" class="three col">
        <div class="loader" id="loader-2">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

    </div>
  </div>
</div>
